.ContextMenu {
  position: absolute;
  background: white;
  border: 1px solid #bbb;
  border-radius: 4px;
  z-index: 1000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 9px 0px;
}

.ContextMenu ul {
  list-style: none;
  padding: 0px 0px;
  min-width: 228px;
}

.ContextMenu li {
  padding: 8px 16px;
  font-weight: 500;
}

.ContextMenu li:hover {
  background: #eee;
  cursor: pointer;
}
